@import url('botao-flutuante.css');

:root {
    --cinza-background: #E5E5E5;
   --cinza: #464646; 
   --branco: #fff;
   --cinza-claro: #a3a3a3;
   --cinza-mais-claro: #ECECEC;
   --laranja: #FFB050;
   --azul: #4894FF;

   --fonte: "Montserrat", sans-serif;
}

body {
    background-color: var(--cinza-background);
    font-family: var(--fonte);
}
.container {
    margin: 7% 5%;
}
.container-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.container-imagem {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.titulo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--cinza);
    padding: 7% 10%;
}
.texto {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--cinza-claro);
    padding-left: 10%;
    width: 100%;
}
.container-titulo {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cinza);
    padding-bottom: 5%;
}
.container-consulta {
    background-color: var(--branco);
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
}
.consulta-cliente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cinza-mais-claro);
    padding-bottom: 3%;
}
.consulta-cliente__nome {
    margin-right: 7em;
}
.consulta-imagem {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.consulta-titulo {
    font-size: 0.87rem;
    font-weight: 700;
    color: var(--cinza);
    padding: 0.5em;
}
.consulta-mensagem { 
    margin-right: 1em;
}
.consulta-pin__cam {
    margin-left: 0.5em;
}
.consulta-hora {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--cinza);
    padding: 3% 0;
}
.consulta-texto {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cinza-claro);
}
.ligacao-video {
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 4%;
    border-radius: 8px;
    width: 45%;
}
.ligacao-audio {
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--cinza);
    background-color: var(--branco);
    padding: 4%;
    border: 1px solid var(--cinza-mais-claro);
    border-radius: 8px;
    margin-left: 5%;
    width: 45%;
}
.consulta-tipo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.endereço {
    width: 100%;
    background-color: var(--azul);
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--branco);
    padding: 4%;
    border-radius: 8px;
}
.rodape {
    background-color: var(--branco);
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0 0;
    position: sticky;
    bottom: 0;
    margin: 0.5%;
}
.menu-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape-imagem {
    width: 20px;
    height: 22px;
    margin-bottom: 5%;
}
.rodape-titulo {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cinza);
}
.tablet {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 3%;
    }
    .container-cabecalho {
        margin-bottom: 0;
    }
    .container-titulo {
        padding: 2%;
    }
    .container-consulta {
        padding: 3%;
        margin: 0 10% 10% 0;
    }
    .container-tudo {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .consulta-cliente__nome {
        margin-right: 10em;
    }
    .tablet {
        display: block;
    }
    .rodape {
        justify-content: center;
        gap: 30px;
        padding: 2%;
    }
}
@media screen and (min-width: 1200px) {
    .titulo { 
        font-size: 1.9rem;
        width: 100%;
    }
    .texto {
        font-size: 1.12rem;
    }
    .container-consulta {
        width: 88%;
    }
    .consulta-titulo {
        width: 100%;
    }
    
    .container-tudo {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .desktop {
        display: none;
    }
}